/nginx/sbin/nginx
/nginx/compile/build
.buildlog
.DS_Store
.settings/
.idea
logs/
.pub/
**/data/*_new.json
build/
nginx/logs
nginx/temp
packages
pubspec.lock
/distant_logs
/.packages
/lib/resources.dart
/web/resources
/web/app/main.dart.js
/resources/lang_*.json
/sidos/fittor/fittor_old.dart
/sidos/computor/cachor/old_logs/*
/sidos/computor/cachor/hard_cache/*
/sidos/brain/hard_cache/*
